.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.text {
  user-select: none;
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-weight: 100;
  transition: font-size ease 0.2s;
}

@media (max-width: 768px) {
  .text {
    font-size: 6em;
  }
}
