.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.text {
    color: #e43844;
    user-select: none;
}

.container {
    display: flex;
    align-items: center;
}

.cursor::after {
    height:3em;
    width:2em;
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:#e43844;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
  }

@keyframes blink {
    from {
      opacity:1;
      box-shadow: 1px 0 0 #e43844ae, -2px 0 0 #e4384458;
    }
    to {
      opacity:0;
      box-shadow: 2px 0.5px 2px #e43844ae, -1px -0.5px 2px #e4384458;
    }
}