@import "@/styles/vars";

.main {
  min-height: calc(100svh - 1em);
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    padding: 0 1em;
    width: 100%;
    &_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35em;
      height: 30em;
    }
    &_description {
      color: $font;
    }
  }

  &_loader {
    background-color: $bg;
    &_text {
      color: $font;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    &_container {
      position: relative;
      margin-top: 2em;
      bottom: 0;
      color: $font;
    }
    &_counter {
      text-align: center;
      line-height: 1em;
      user-select: none;
    }
  }
}

@media (max-width: 40em) {
  .main {
    &__top {
      flex-direction: column;
    }
  }
}
