@import "@/styles/vars";

.header {
  display: flex;
  position: absolute;
  padding: 2em;
  top: 0;
  left: 0;
  align-items: center;
  column-gap: 1em;
  width: 100vw;
  z-index: 100;
  color: $red;
  &__logo {
    display: flex;
    position: relative;
    margin-right: auto;
    align-items: center;
    font-size: 3em;
    color: $font;
    cursor: pointer;
    user-select: none;
    transition: font-size 0.2s ease;
    &::after {
      position: absolute;
      top: 0.2em;
      left: -0.3em;
      content: "";
      width: 2em;
      height: 2em;
      border-radius: 100%;
      background-color: #75ffff7f;
      backdrop-filter: blur(5px);
      animation-duration: 15s;
      animation-name: bubble;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      transition-property: backdrop-filter, background-color, width, height;
      transition-duration: 0.8s;
      transition-timing-function: ease;
    }
    &:hover::after {
      backdrop-filter: blur(1px);
      background-color: #75ffff6f;
      width: 1.9em;
      height: 1.9em;
    }
  }
  &__cnvs {
    display: flex;
    align-items: center;
    max-height: 3em;
    max-width: 4em;
    cursor: pointer;
  }
}

@keyframes bubble {
  0% {
    transform: translate(0.2em, -0.3em) scaleX(1) scaleY(1) scaleZ(1)
      rotateZ(0deg);
  }
  40% {
    transform: translate(0em, -0.2em) scaleX(1.09) scaleY(0.95) scaleZ(0.96)
      rotateZ(30deg);
  }
  77% {
    transform: translate(0.1em, -0.4em) scaleX(1) scaleY(1.09) scaleZ(1.02)
      rotateZ(90deg);
  }
  100% {
    transform: translate(0.2em, -0.3em) scaleX(1) scaleY(1) scaleZ(1)
      rotateZ(180deg);
  }
}

@media (max-width: 60em) {
  .header__logo {
    font-size: 2em;
  }
}
@media (max-width: 40em) {
  .header__logo {
    font-size: 1.2em;
  }
}
